html{
    display : flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

body{
    display : flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 500px;
}


div{
    background-color: aquamarine;
    box-shadow: 3px 7px rgb(104, 131, 122);
    padding: 35px;
    padding-left: 50px;
    padding-right: 50px;

}

#title{
    font-size: 30px;
}

p{
    font-size: larger;
}

#submit_btn{
    background-color: white;
    font-size: 15px;
    border-radius: 4px;
    border: 0.7px solid rgb(55, 109, 91);
    transition-duration: 0.4s;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#submit_btn:hover{
    background-color: rgb(55, 109, 91);
    color:white;
}

#incorrect_cre{
    color:rgb(183, 6, 6);
    background-color: aquamarine;
}